In [1]:
# import dependencies
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [2]:
# set seed
np.random.seed(1)

In [3]:
# read obesity data for ML
obesity_ml = pd.read_csv("data/ObesityDataSet_raw_and_data_sinthetic.csv")
obesity_ml.head(10)

,Gender,Age,Height,Weight,family_history_with_overweight,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,NObeyesdad
0,Female,21.0,1.62,64.0,yes,no,2.0,3.0,Sometimes,no,2.0,no,0.0,1.0,no,Public_Transportation,Normal_Weight
1,Female,21.0,1.52,56.0,yes,no,3.0,3.0,Sometimes,yes,3.0,yes,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight
2,Male,23.0,1.80,77.0,yes,no,2.0,3.0,Sometimes,no,2.0,no,2.0,1.0,Frequently,Public_Transportation,Normal_Weight
3,Male,27.0,1.80,87.0,no,no,3.0,3.0,Sometimes,no,2.0,no,2.0,0.0,Frequently,Walking,Overweight_Level_I
4,Male,22.0,1.78,89.8,no,no,2.0,1.0,Sometimes,no,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II
5,Male,29.0,1.62,53.0,no,yes,2.0,3.0,Sometimes,no,2.0,no,0.0,0.0,Sometimes,Automobile,Normal_Weight
6,Female,23.0,1.50,55.0,yes,yes,3.0,3.0,Sometimes,no,2.0,no,1.0,0.0,Sometimes,Motorbike,Normal_Weight
7,Male,22.0,1.64,53.0,no,no,2.0,3.0,Sometimes,no,2.0,no,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight
8,Male,24.0,1.78,64.0,yes,yes,3.0,3.0,Sometimes,no,2.0,no,1.0,1.0,Frequently,Public_Transportation,Normal_Weight
9,Male,22.0,1.72,68.0,yes,yes,2.0,3.0,Sometimes,no,2.0,no,1.0,1.0,no,Public_Transportation,Normal_Weight

In [4]:
# rename columns
obesity_ml = obesity_ml.rename(columns={"FAVC": "high_caloric_food",
                           "FCVC": "vegetables",
                          "NCP": "main_meals",
                          "CAEC":"food_between_meals",
                          "CALC":"alcohol",
                          "SCC":"monitor_calories",
                          "FAF":"physical_activity",
                          "TUE": "technology_use",
                          "MTRANS":"transportation",
                            "CH2O":"water",
                        "NObeyesdad":"obesity"})
obesity_ml.head()

,Gender,Age,Height,Weight,family_history_with_overweight,high_caloric_food,vegetables,main_meals,food_between_meals,SMOKE,water,monitor_calories,physical_activity,technology_use,alcohol,transportation,obesity
0,Female,21.0,1.62,64.0,yes,no,2.0,3.0,Sometimes,no,2.0,no,0.0,1.0,no,Public_Transportation,Normal_Weight
1,Female,21.0,1.52,56.0,yes,no,3.0,3.0,Sometimes,yes,3.0,yes,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight
2,Male,23.0,1.80,77.0,yes,no,2.0,3.0,Sometimes,no,2.0,no,2.0,1.0,Frequently,Public_Transportation,Normal_Weight
3,Male,27.0,1.80,87.0,no,no,3.0,3.0,Sometimes,no,2.0,no,2.0,0.0,Frequently,Walking,Overweight_Level_I
4,Male,22.0,1.78,89.8,no,no,2.0,1.0,Sometimes,no,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II

In [5]:
numeric = ['Age', 'Height','Weight','vegetables','main_meals', 'water','physical_activity','technology_use']
obesity_num = obesity_ml.loc[:, numeric] 
obesity_num.head()

,Age,Height,Weight,vegetables,main_meals,water,physical_activity,technology_use
0,21.0,1.62,64.0,2.0,3.0,2.0,0.0,1.0
1,21.0,1.52,56.0,3.0,3.0,3.0,3.0,0.0
2,23.0,1.80,77.0,2.0,3.0,2.0,2.0,1.0
3,27.0,1.80,87.0,3.0,3.0,2.0,2.0,0.0
4,22.0,1.78,89.8,2.0,1.0,2.0,0.0,0.0

In [6]:
categorical = ['Gender', 'family_history_with_overweight','high_caloric_food', 'food_between_meals', 'SMOKE', 'monitor_calories','alcohol','transportation','obesity']
obesity_cat_w_output = obesity_ml.loc[:, categorical] 
obesity_cat_wo_output = obesity_cat_w_output.drop(["obesity"], axis=1)
obesity_cat = pd.get_dummies(data=obesity_cat_wo_output, drop_first=True)
obesity_cat.head()

,Gender_Male,family_history_with_overweight_yes,high_caloric_food_yes,food_between_meals_Frequently,food_between_meals_Sometimes,food_between_meals_no,SMOKE_yes,monitor_calories_yes,alcohol_Frequently,alcohol_Sometimes,alcohol_no,transportation_Bike,transportation_Motorbike,transportation_Public_Transportation,transportation_Walking
0,0,1,0,0,1,0,0,0,0,0,1,0,0,1,0
1,0,1,0,0,1,0,1,1,0,1,0,0,0,1,0
2,1,1,0,0,1,0,0,0,1,0,0,0,0,1,0
3,1,0,0,0,1,0,0,0,1,0,0,0,0,0,1
4,1,0,0,0,1,0,0,0,0,1,0,0,0,1,0

In [7]:
# merge numeric and catorical dfs
obesity3 = pd.concat([obesity_num, obesity_cat], axis=1, join='outer')
obesity3.head()

,Age,Height,Weight,vegetables,main_meals,water,physical_activity,technology_use,Gender_Male,family_history_with_overweight_yes,...,food_between_meals_no,SMOKE_yes,monitor_calories_yes,alcohol_Frequently,alcohol_Sometimes,alcohol_no,transportation_Bike,transportation_Motorbike,transportation_Public_Transportation,transportation_Walking
0,21.0,1.62,64.0,2.0,3.0,2.0,0.0,1.0,0,1,...,0,0,0,0,0,1,0,0,1,0
1,21.0,1.52,56.0,3.0,3.0,3.0,3.0,0.0,0,1,...,0,1,1,0,1,0,0,0,1,0
2,23.0,1.80,77.0,2.0,3.0,2.0,2.0,1.0,1,1,...,0,0,0,1,0,0,0,0,1,0
3,27.0,1.80,87.0,3.0,3.0,2.0,2.0,0.0,1,0,...,0,0,0,1,0,0,0,0,0,1
4,22.0,1.78,89.8,2.0,1.0,2.0,0.0,0.0,1,0,...,0,0,0,0,1,0,0,0,1,0

In [8]:
# Labels are the values we want to predict
labels = obesity_cat_w_output['obesity']
features = obesity3
labels

0             Normal_Weight
1             Normal_Weight
2             Normal_Weight
3        Overweight_Level_I
4       Overweight_Level_II
               ...
2106       Obesity_Type_III
2107       Obesity_Type_III
2108       Obesity_Type_III
2109       Obesity_Type_III
2110       Obesity_Type_III
Name: obesity, Length: 2111, dtype: object

In [9]:
from sklearn.preprocessing import LabelEncoder

# Step 1: Label-encode data set
label_encoder = LabelEncoder()
label_encoder.fit(labels)
encoded_labels = label_encoder.transform(labels)

In [10]:
# Split the data into training and testing sets
from sklearn.model_selection import train_test_split
train_features, test_features, train_labels, test_labels = train_test_split(features, encoded_labels, test_size = 0.2, random_state = 42)

print('Training Features Shape:', train_features.shape)
print('Training Labels Shape:', train_labels.shape)
print('Testing Features Shape:', test_features.shape)
print('Testing Labels Shape:', test_labels.shape)

Training Features Shape: (1688, 23)
Training Labels Shape: (1688,)
Testing Features Shape: (423, 23)
Testing Labels Shape: (423,)

In [11]:
# Import the model we are using
from sklearn.ensemble import RandomForestRegressor

# Instantiate model with 1000 decision trees
rf = RandomForestRegressor(n_estimators = 1000, random_state = 42)

# Train the model on training data
rf.fit(train_features, train_labels)
rf.score(train_features, train_labels)

0.9900774406027891

In [12]:
features_list = list(obesity3)

# Import tools needed for visualization
from sklearn.tree import export_graphviz
import pydot
# Pull out one tree from the forest
tree = rf.estimators_[5]
# Export the image to a dot file
export_graphviz(tree, out_file = 'tree.dot', feature_names = features_list, rounded = True, precision = 1)
# Use dot file to create a graph
(graph, ) = pydot.graph_from_dot_file('tree.dot')
# Write graph to a png file
graph.write_png('tree.png')

In [13]:
import pickle

# save the model to disk
filename = 'obesity_random_forest.sav'
pickle.dump(rf, open(filename, 'wb'))
 
# load the model from disk
loaded_model = pickle.load(open(filename, 'rb'))
result = loaded_model.score(test_features, test_labels)
print(result)

0.9197824363423404