In [1]:
import pandas as pd

In [2]:
life_df = pd.read_excel('../resources/IHME_county_data_LifeExpectancy_Obesity_PhysicalActivity_NATIONAL.xlsx',sheet_name=0)

life_df

,State,County,"Male life expectancy, 1985 (years)","Female life expectancy, 1985 (years)","Male life expectancy, 1990 (years)","Female life expectancy, 1990 (years)","Male life expectancy, 1995 (years)","Female life expectancy, 1995 (years)","Male life expectancy, 2000 (years)","Female life expectancy, 2000 (years)","Male life expectancy, 2005 (years)","Female life expectancy, 2005 (years)","Male life expectancy, 2010 (years)","Female life expectancy, 2010 (years)","Difference in male life expectancy, 1985-2010 (years)","Difference in female life expectancy, 1985-2010 (years)"
0,United States,NaN,70.8,77.8,71.5,78.3,72.5,78.8,74.1,79.2,74.9,79.9,76.1,80.8,5.2,3.0
1,Alabama,NaN,69.1,76.9,69.4,77.1,69.9,77.2,71.0,77.2,71.5,77.3,72.4,77.8,3.3,0.9
2,Alabama,Autauga,68.1,77.0,68.5,77.0,69.3,77.3,71.7,77.6,72.5,77.4,73.3,78.8,5.2,1.8
3,Alabama,Baldwin,71.1,78.8,71.9,79.2,72.4,79.3,73.9,79.2,73.8,79.7,75.0,80.3,3.8,1.5
4,Alabama,Barbour,66.8,76.0,66.7,76.7,68.4,76.9,70.0,76.2,70.5,77.0,72.2,77.2,5.3,1.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3189,Wyoming,Sweetwater,72.9,78.9,73.0,79.2,72.7,78.7,73.8,78.9,74.5,78.2,75.5,81.3,2.6,2.4
3190,Wyoming,Teton,73.0,77.5,73.9,78.5,75.7,80.1,78.1,80.9,79.7,83.5,80.9,83.3,7.9,5.8
3191,Wyoming,Uinta,73.5,79.5,73.6,78.8,74.0,79.1,74.5,79.3,75.1,79.5,74.8,79.9,1.3,0.4
3192,Wyoming,Washakie,73.1,79.9,73.2,79.5,73.9,79.5,74.8,79.3,75.2,80.1,75.9,79.3,2.8,-0.7
3193,Wyoming,Weston,71.8,79.5,72.7,78.7,73.3,78.8,74.6,79.4,75.0,80.1,74.5,78.8,2.7,-0.6

In [3]:
life_df = life_df.drop(['Difference in male life expectancy, 1985-2010 (years)','Difference in female life expectancy, 1985-2010 (years)'],axis=1)
life_df

,State,County,"Male life expectancy, 1985 (years)","Female life expectancy, 1985 (years)","Male life expectancy, 1990 (years)","Female life expectancy, 1990 (years)","Male life expectancy, 1995 (years)","Female life expectancy, 1995 (years)","Male life expectancy, 2000 (years)","Female life expectancy, 2000 (years)","Male life expectancy, 2005 (years)","Female life expectancy, 2005 (years)","Male life expectancy, 2010 (years)","Female life expectancy, 2010 (years)"
0,United States,NaN,70.8,77.8,71.5,78.3,72.5,78.8,74.1,79.2,74.9,79.9,76.1,80.8
1,Alabama,NaN,69.1,76.9,69.4,77.1,69.9,77.2,71.0,77.2,71.5,77.3,72.4,77.8
2,Alabama,Autauga,68.1,77.0,68.5,77.0,69.3,77.3,71.7,77.6,72.5,77.4,73.3,78.8
3,Alabama,Baldwin,71.1,78.8,71.9,79.2,72.4,79.3,73.9,79.2,73.8,79.7,75.0,80.3
4,Alabama,Barbour,66.8,76.0,66.7,76.7,68.4,76.9,70.0,76.2,70.5,77.0,72.2,77.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3189,Wyoming,Sweetwater,72.9,78.9,73.0,79.2,72.7,78.7,73.8,78.9,74.5,78.2,75.5,81.3
3190,Wyoming,Teton,73.0,77.5,73.9,78.5,75.7,80.1,78.1,80.9,79.7,83.5,80.9,83.3
3191,Wyoming,Uinta,73.5,79.5,73.6,78.8,74.0,79.1,74.5,79.3,75.1,79.5,74.8,79.9
3192,Wyoming,Washakie,73.1,79.9,73.2,79.5,73.9,79.5,74.8,79.3,75.2,80.1,75.9,79.3
3193,Wyoming,Weston,71.8,79.5,72.7,78.7,73.3,78.8,74.6,79.4,75.0,80.1,74.5,78.8

In [4]:
life_df = life_df.rename(columns={'Male life expectancy, 1985 (years)':'male_life_expectancy_1985_years',\
                                 'Female life expectancy, 1985 (years)':'female_life_expectancy_1985_years',
                                 'Male life expectancy, 1990 (years)':'male_life_expectancy_1990_years',\
                                 'Female life expectancy, 1990 (years)':'female_life_expectancy_1990_years',\
                                 'Male life expectancy, 1995 (years)':'male_life_expectancy_1995_years',\
                                 'Female life expectancy, 1995 (years)':'female_life_expectancy_1995_years',\
                                 'Male life expectancy, 2000 (years)':'male_life_expectancy_2000_years',\
                                 'Female life expectancy, 2000 (years)': 'female_life_expectancy_2000_years',
                                 'Male life expectancy, 2005 (years)':'male_life_expectancy_2005_years',\
                                 'Female life expectancy, 2005 (years)':'female_life_expectancy_2005_years',\
                                 'Male life expectancy, 2010 (years)':'male_life_expectancy_2010_years',\
                                 'Female life expectancy, 2010 (years)':'female_life_expectancy_2010_years',\
                                 'State':'state','County':'county'})
life_df

,state,county,male_life_expectancy_1985_years,female_life_expectancy_1985_years,male_life_expectancy_1990_years,female_life_expectancy_1990_years,male_life_expectancy_1995_years,female_life_expectancy_1995_years,male_life_expectancy_2000_years,female_life_expectancy_2000_years,male_life_expectancy_2005_years,female_life_expectancy_2005_years,male_life_expectancy_2010_years,female_life_expectancy_2010_years
0,United States,NaN,70.8,77.8,71.5,78.3,72.5,78.8,74.1,79.2,74.9,79.9,76.1,80.8
1,Alabama,NaN,69.1,76.9,69.4,77.1,69.9,77.2,71.0,77.2,71.5,77.3,72.4,77.8
2,Alabama,Autauga,68.1,77.0,68.5,77.0,69.3,77.3,71.7,77.6,72.5,77.4,73.3,78.8
3,Alabama,Baldwin,71.1,78.8,71.9,79.2,72.4,79.3,73.9,79.2,73.8,79.7,75.0,80.3
4,Alabama,Barbour,66.8,76.0,66.7,76.7,68.4,76.9,70.0,76.2,70.5,77.0,72.2,77.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3189,Wyoming,Sweetwater,72.9,78.9,73.0,79.2,72.7,78.7,73.8,78.9,74.5,78.2,75.5,81.3
3190,Wyoming,Teton,73.0,77.5,73.9,78.5,75.7,80.1,78.1,80.9,79.7,83.5,80.9,83.3
3191,Wyoming,Uinta,73.5,79.5,73.6,78.8,74.0,79.1,74.5,79.3,75.1,79.5,74.8,79.9
3192,Wyoming,Washakie,73.1,79.9,73.2,79.5,73.9,79.5,74.8,79.3,75.2,80.1,75.9,79.3
3193,Wyoming,Weston,71.8,79.5,72.7,78.7,73.3,78.8,74.6,79.4,75.0,80.1,74.5,78.8

In [5]:
activity_df = pd.read_excel('../resources/IHME_county_data_LifeExpectancy_Obesity_PhysicalActivity_NATIONAL.xlsx',sheet_name=1)
activity_df

,State,County,"Male sufficient physical activity prevalence, 2001 (%)","Female sufficient physical activity prevalence, 2001 (%)","Male sufficient physical activity prevalence, 2009 (%)","Female sufficient physical activity prevalence, 2009 (%)","Male sufficient physical activity prevalence, 2011* (%)","Female sufficient physical activity prevalence, 2011* (%)","Difference in male sufficient physical activity prevalence, 2001-2009 (percentage points)","Difference in female sufficient physical activity prevalence, 2001-2009 (percentage points)",Unnamed: 10,*Methodological changes in the 2011 BRFSS may affect comparability between the 2011 estimates and estimates from earlier years
0,United States,NaN,56.8,46.7,57.8,51.3,56.3,52.6,1.0,4.7,NaN,NaN
1,Alabama,NaN,52.4,40.4,51.5,41.4,49.5,42.0,-0.9,1.0,NaN,NaN
2,Alabama,Autauga,55.0,43.6,55.1,46.8,52.9,47.5,0.1,3.2,NaN,NaN
3,Alabama,Baldwin,55.4,48.4,56.6,49.2,54.1,49.6,1.2,0.8,NaN,NaN
4,Alabama,Barbour,45.7,33.0,46.4,34.6,44.9,35.8,0.7,1.6,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
3189,Wyoming,Sweetwater,63.6,54.0,59.9,54.3,57.9,54.6,-3.7,0.3,NaN,NaN
3190,Wyoming,Teton,74.2,66.4,75.7,71.1,77.5,72.7,1.5,4.7,NaN,NaN
3191,Wyoming,Uinta,59.6,54.7,58.8,56.5,53.8,56.8,-0.7,1.8,NaN,NaN
3192,Wyoming,Washakie,60.4,54.7,59.3,55.3,57.5,56.2,-1.1,0.6,NaN,NaN
3193,Wyoming,Weston,52.9,53.9,58.3,55.1,56.8,56.0,5.3,1.2,NaN,NaN

In [6]:
activity_df = activity_df.drop(['Difference in male sufficient physical activity prevalence, 2001-2009 (percentage points)',\
                               'Difference in female sufficient physical activity prevalence, 2001-2009 (percentage points)',\
                               'Unnamed: 10',\
                               '*Methodological changes in the 2011 BRFSS may affect comparability between the 2011 estimates and estimates from earlier years'], axis=1)
activity_df

,State,County,"Male sufficient physical activity prevalence, 2001 (%)","Female sufficient physical activity prevalence, 2001 (%)","Male sufficient physical activity prevalence, 2009 (%)","Female sufficient physical activity prevalence, 2009 (%)","Male sufficient physical activity prevalence, 2011* (%)","Female sufficient physical activity prevalence, 2011* (%)"
0,United States,NaN,56.8,46.7,57.8,51.3,56.3,52.6
1,Alabama,NaN,52.4,40.4,51.5,41.4,49.5,42.0
2,Alabama,Autauga,55.0,43.6,55.1,46.8,52.9,47.5
3,Alabama,Baldwin,55.4,48.4,56.6,49.2,54.1,49.6
4,Alabama,Barbour,45.7,33.0,46.4,34.6,44.9,35.8
...,...,...,...,...,...,...,...,...
3189,Wyoming,Sweetwater,63.6,54.0,59.9,54.3,57.9,54.6
3190,Wyoming,Teton,74.2,66.4,75.7,71.1,77.5,72.7
3191,Wyoming,Uinta,59.6,54.7,58.8,56.5,53.8,56.8
3192,Wyoming,Washakie,60.4,54.7,59.3,55.3,57.5,56.2
3193,Wyoming,Weston,52.9,53.9,58.3,55.1,56.8,56.0

In [7]:
activity_df = activity_df.rename(columns={'Male sufficient physical activity prevalence, 2001 (%)':'male_sufficient_physical_activity_prevalence_2001_p',\
                                          'Female sufficient physical activity prevalence, 2001 (%)':'female_sufficient_physical_activity_prevalence_2001_p',\
                                          'Male sufficient physical activity  prevalence, 2009 (%)':"male_sufficient_physical_activity_prevalence_2009_p",\
                                          'Female sufficient physical activity  prevalence, 2009 (%)':'female_sufficient_physical_activity_prevalence_2009_p',\
                                          'Male sufficient physical activity  prevalence, 2011* (%)':'male_sufficient_physical_activity_prevalence_2011_p',\
                                          'Female sufficient physical activity  prevalence, 2011* (%)':'female_sufficient_physical_activity_prevalence_2011_p',\
                                         'State':'state','County':'county'})
activity_df

,state,county,male_sufficient_physical_activity_prevalence_2001_p,female_sufficient_physical_activity_prevalence_2001_p,male_sufficient_physical_activity_prevalence_2009_p,female_sufficient_physical_activity_prevalence_2009_p,male_sufficient_physical_activity_prevalence_2011_p,female_sufficient_physical_activity_prevalence_2011_p
0,United States,NaN,56.8,46.7,57.8,51.3,56.3,52.6
1,Alabama,NaN,52.4,40.4,51.5,41.4,49.5,42.0
2,Alabama,Autauga,55.0,43.6,55.1,46.8,52.9,47.5
3,Alabama,Baldwin,55.4,48.4,56.6,49.2,54.1,49.6
4,Alabama,Barbour,45.7,33.0,46.4,34.6,44.9,35.8
...,...,...,...,...,...,...,...,...
3189,Wyoming,Sweetwater,63.6,54.0,59.9,54.3,57.9,54.6
3190,Wyoming,Teton,74.2,66.4,75.7,71.1,77.5,72.7
3191,Wyoming,Uinta,59.6,54.7,58.8,56.5,53.8,56.8
3192,Wyoming,Washakie,60.4,54.7,59.3,55.3,57.5,56.2
3193,Wyoming,Weston,52.9,53.9,58.3,55.1,56.8,56.0

In [8]:
obesity_df = pd.read_excel('../resources/IHME_county_data_LifeExpectancy_Obesity_PhysicalActivity_NATIONAL.xlsx',sheet_name=2)

obesity_df

,State,County,"Male obesity prevalence, 2001 (%)","Female obesity prevalence, 2001 (%)","Male obesity prevalence, 2009 (%)","Female obesity prevalence, 2009 (%)","Male obesity prevalence, 2011* (%)","Female obesity prevalence, 2011* (%)","Difference in male obesity prevalence, 2001-2009 (percentage points)","Difference in female obesity prevalence, 2001-2009 (percentage points)",Unnamed: 10,*Methodological changes in the 2011 BRFSS may affect comparability between the 2011 estimates and estimates from earlier years
0,United States,NaN,26.1,28.7,32.8,35.1,33.8,36.1,6.7,6.4,NaN,NaN
1,Alabama,NaN,29.7,34.1,36.1,41.2,37.3,42.2,6.4,7.1,NaN,NaN
2,Alabama,Autauga,30.7,32.3,35.9,37.4,37.1,38.8,5.3,5.2,NaN,NaN
3,Alabama,Baldwin,27.8,28.3,32.4,33.0,33.5,33.9,4.5,4.6,NaN,NaN
4,Alabama,Barbour,32.3,42.8,40.3,51.3,41.5,51.6,8.0,8.5,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
3189,Wyoming,Sweetwater,26.6,26.1,33.6,35.3,34.7,36.0,7.0,9.2,NaN,NaN
3190,Wyoming,Teton,17.8,16.6,21.1,18.8,21.6,19.6,3.2,2.3,NaN,NaN
3191,Wyoming,Uinta,24.1,25.0,35.2,34.0,36.5,34.8,11.1,9.0,NaN,NaN
3192,Wyoming,Washakie,23.5,24.9,31.3,33.9,32.4,34.7,7.7,9.0,NaN,NaN
3193,Wyoming,Weston,27.0,28.4,35.7,35.0,36.8,35.9,8.7,6.5,NaN,NaN

In [9]:
obesity_df = obesity_df.drop(['Difference in male obesity prevalence, 2001-2009 (percentage points)',\
                               'Difference in female obesity prevalence, 2001-2009 (percentage points)',\
                               'Unnamed: 10',\
                               '*Methodological changes in the 2011 BRFSS may affect comparability between the 2011 estimates and estimates from earlier years'], axis=1)
obesity_df

,State,County,"Male obesity prevalence, 2001 (%)","Female obesity prevalence, 2001 (%)","Male obesity prevalence, 2009 (%)","Female obesity prevalence, 2009 (%)","Male obesity prevalence, 2011* (%)","Female obesity prevalence, 2011* (%)"
0,United States,NaN,26.1,28.7,32.8,35.1,33.8,36.1
1,Alabama,NaN,29.7,34.1,36.1,41.2,37.3,42.2
2,Alabama,Autauga,30.7,32.3,35.9,37.4,37.1,38.8
3,Alabama,Baldwin,27.8,28.3,32.4,33.0,33.5,33.9
4,Alabama,Barbour,32.3,42.8,40.3,51.3,41.5,51.6
...,...,...,...,...,...,...,...,...
3189,Wyoming,Sweetwater,26.6,26.1,33.6,35.3,34.7,36.0
3190,Wyoming,Teton,17.8,16.6,21.1,18.8,21.6,19.6
3191,Wyoming,Uinta,24.1,25.0,35.2,34.0,36.5,34.8
3192,Wyoming,Washakie,23.5,24.9,31.3,33.9,32.4,34.7
3193,Wyoming,Weston,27.0,28.4,35.7,35.0,36.8,35.9

In [10]:
obesity_df = obesity_df.rename(columns={'Male obesity prevalence, 2001 (%)':'male_obesity_prevalence_2001_p',\
                                        'Female obesity prevalence, 2001 (%)':'female_obesity_prevalence_2001_p',\
                                        'Male obesity prevalence, 2009 (%)':'male_obesity_prevalence_2009_p',\
                                        'Female obesity  prevalence, 2009 (%)':'female_obesity_prevalence_2009_p',\
                                        'Male obesity  prevalence, 2011* (%)':'male_obesity_prevalence_2011_p',\
                                        'Female obesity prevalence, 2011* (%)':'female_obesity_prevalence_2011_p',\
                                       'State':'state','County':'county'})
obesity_df

,state,county,male_obesity_prevalence_2001_p,female_obesity_prevalence_2001_p,male_obesity_prevalence_2009_p,female_obesity_prevalence_2009_p,male_obesity_prevalence_2011_p,female_obesity_prevalence_2011_p
0,United States,NaN,26.1,28.7,32.8,35.1,33.8,36.1
1,Alabama,NaN,29.7,34.1,36.1,41.2,37.3,42.2
2,Alabama,Autauga,30.7,32.3,35.9,37.4,37.1,38.8
3,Alabama,Baldwin,27.8,28.3,32.4,33.0,33.5,33.9
4,Alabama,Barbour,32.3,42.8,40.3,51.3,41.5,51.6
...,...,...,...,...,...,...,...,...
3189,Wyoming,Sweetwater,26.6,26.1,33.6,35.3,34.7,36.0
3190,Wyoming,Teton,17.8,16.6,21.1,18.8,21.6,19.6
3191,Wyoming,Uinta,24.1,25.0,35.2,34.0,36.5,34.8
3192,Wyoming,Washakie,23.5,24.9,31.3,33.9,32.4,34.7
3193,Wyoming,Weston,27.0,28.4,35.7,35.0,36.8,35.9

In [11]:
merged_life_activity = pd.merge(life_df,activity_df, how = 'inner', on=['state','county'])
merged_life_activity

,state,county,male_life_expectancy_1985_years,female_life_expectancy_1985_years,male_life_expectancy_1990_years,female_life_expectancy_1990_years,male_life_expectancy_1995_years,female_life_expectancy_1995_years,male_life_expectancy_2000_years,female_life_expectancy_2000_years,male_life_expectancy_2005_years,female_life_expectancy_2005_years,male_life_expectancy_2010_years,female_life_expectancy_2010_years,male_sufficient_physical_activity_prevalence_2001_p,female_sufficient_physical_activity_prevalence_2001_p,male_sufficient_physical_activity_prevalence_2009_p,female_sufficient_physical_activity_prevalence_2009_p,male_sufficient_physical_activity_prevalence_2011_p,female_sufficient_physical_activity_prevalence_2011_p
0,United States,NaN,70.8,77.8,71.5,78.3,72.5,78.8,74.1,79.2,74.9,79.9,76.1,80.8,56.8,46.7,57.8,51.3,56.3,52.6
1,Alabama,NaN,69.1,76.9,69.4,77.1,69.9,77.2,71.0,77.2,71.5,77.3,72.4,77.8,52.4,40.4,51.5,41.4,49.5,42.0
2,Alabama,Autauga,68.1,77.0,68.5,77.0,69.3,77.3,71.7,77.6,72.5,77.4,73.3,78.8,55.0,43.6,55.1,46.8,52.9,47.5
3,Alabama,Baldwin,71.1,78.8,71.9,79.2,72.4,79.3,73.9,79.2,73.8,79.7,75.0,80.3,55.4,48.4,56.6,49.2,54.1,49.6
4,Alabama,Barbour,66.8,76.0,66.7,76.7,68.4,76.9,70.0,76.2,70.5,77.0,72.2,77.2,45.7,33.0,46.4,34.6,44.9,35.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3189,Wyoming,Sweetwater,72.9,78.9,73.0,79.2,72.7,78.7,73.8,78.9,74.5,78.2,75.5,81.3,63.6,54.0,59.9,54.3,57.9,54.6
3190,Wyoming,Teton,73.0,77.5,73.9,78.5,75.7,80.1,78.1,80.9,79.7,83.5,80.9,83.3,74.2,66.4,75.7,71.1,77.5,72.7
3191,Wyoming,Uinta,73.5,79.5,73.6,78.8,74.0,79.1,74.5,79.3,75.1,79.5,74.8,79.9,59.6,54.7,58.8,56.5,53.8,56.8
3192,Wyoming,Washakie,73.1,79.9,73.2,79.5,73.9,79.5,74.8,79.3,75.2,80.1,75.9,79.3,60.4,54.7,59.3,55.3,57.5,56.2
3193,Wyoming,Weston,71.8,79.5,72.7,78.7,73.3,78.8,74.6,79.4,75.0,80.1,74.5,78.8,52.9,53.9,58.3,55.1,56.8,56.0

In [12]:
merged_all = pd.merge(merged_life_activity,obesity_df,how = 'inner', on=['state','county'])
merged_all

,state,county,male_life_expectancy_1985_years,female_life_expectancy_1985_years,male_life_expectancy_1990_years,female_life_expectancy_1990_years,male_life_expectancy_1995_years,female_life_expectancy_1995_years,male_life_expectancy_2000_years,female_life_expectancy_2000_years,...,male_sufficient_physical_activity_prevalence_2009_p,female_sufficient_physical_activity_prevalence_2009_p,male_sufficient_physical_activity_prevalence_2011_p,female_sufficient_physical_activity_prevalence_2011_p,male_obesity_prevalence_2001_p,female_obesity_prevalence_2001_p,male_obesity_prevalence_2009_p,female_obesity_prevalence_2009_p,male_obesity_prevalence_2011_p,female_obesity_prevalence_2011_p
0,United States,NaN,70.8,77.8,71.5,78.3,72.5,78.8,74.1,79.2,...,57.8,51.3,56.3,52.6,26.1,28.7,32.8,35.1,33.8,36.1
1,Alabama,NaN,69.1,76.9,69.4,77.1,69.9,77.2,71.0,77.2,...,51.5,41.4,49.5,42.0,29.7,34.1,36.1,41.2,37.3,42.2
2,Alabama,Autauga,68.1,77.0,68.5,77.0,69.3,77.3,71.7,77.6,...,55.1,46.8,52.9,47.5,30.7,32.3,35.9,37.4,37.1,38.8
3,Alabama,Baldwin,71.1,78.8,71.9,79.2,72.4,79.3,73.9,79.2,...,56.6,49.2,54.1,49.6,27.8,28.3,32.4,33.0,33.5,33.9
4,Alabama,Barbour,66.8,76.0,66.7,76.7,68.4,76.9,70.0,76.2,...,46.4,34.6,44.9,35.8,32.3,42.8,40.3,51.3,41.5,51.6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3189,Wyoming,Sweetwater,72.9,78.9,73.0,79.2,72.7,78.7,73.8,78.9,...,59.9,54.3,57.9,54.6,26.6,26.1,33.6,35.3,34.7,36.0
3190,Wyoming,Teton,73.0,77.5,73.9,78.5,75.7,80.1,78.1,80.9,...,75.7,71.1,77.5,72.7,17.8,16.6,21.1,18.8,21.6,19.6
3191,Wyoming,Uinta,73.5,79.5,73.6,78.8,74.0,79.1,74.5,79.3,...,58.8,56.5,53.8,56.8,24.1,25.0,35.2,34.0,36.5,34.8
3192,Wyoming,Washakie,73.1,79.9,73.2,79.5,73.9,79.5,74.8,79.3,...,59.3,55.3,57.5,56.2,23.5,24.9,31.3,33.9,32.4,34.7
3193,Wyoming,Weston,71.8,79.5,72.7,78.7,73.3,78.8,74.6,79.4,...,58.3,55.1,56.8,56.0,27.0,28.4,35.7,35.0,36.8,35.9

In [13]:
merged_all.dtypes

state                                                     object
county                                                    object
male_life_expectancy_1985_years                          float64
female_life_expectancy_1985_years                        float64
male_life_expectancy_1990_years                          float64
female_life_expectancy_1990_years                        float64
male_life_expectancy_1995_years                          float64
female_life_expectancy_1995_years                        float64
male_life_expectancy_2000_years                          float64
female_life_expectancy_2000_years                        float64
male_life_expectancy_2005_years                          float64
female_life_expectancy_2005_years                        float64
male_life_expectancy_2010_years                          float64
female_life_expectancy_2010_years                        float64
male_sufficient_physical_activity_prevalence_2001_p      float64
female_sufficient_physical_activity_prevalence_2001_p    float64
male_sufficient_physical_activity_prevalence_2009_p      float64
female_sufficient_physical_activity_prevalence_2009_p    float64
male_sufficient_physical_activity_prevalence_2011_p      float64
female_sufficient_physical_activity_prevalence_2011_p    float64
male_obesity_prevalence_2001_p                           float64
female_obesity_prevalence_2001_p                         float64
male_obesity_prevalence_2009_p                           float64
female_obesity_prevalence_2009_p                         float64
male_obesity_prevalence_2011_p                           float64
female_obesity_prevalence_2011_p                         float64
dtype: object

In [14]:
merged_all.to_csv('../resources/cleansed_obesity.csv')