In [1]:
# import dependencies
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [2]:
# set seed
np.random.seed(1)

In [3]:
# read obesity data for ML
obesity_ml = pd.read_csv("data/ObesityDataSet_raw_and_data_sinthetic.csv")
obesity_ml.head(10)

,Gender,Age,Height,Weight,family_history_with_overweight,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,NObeyesdad
0,Female,21.0,1.62,64.0,yes,no,2.0,3.0,Sometimes,no,2.0,no,0.0,1.0,no,Public_Transportation,Normal_Weight
1,Female,21.0,1.52,56.0,yes,no,3.0,3.0,Sometimes,yes,3.0,yes,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight
2,Male,23.0,1.80,77.0,yes,no,2.0,3.0,Sometimes,no,2.0,no,2.0,1.0,Frequently,Public_Transportation,Normal_Weight
3,Male,27.0,1.80,87.0,no,no,3.0,3.0,Sometimes,no,2.0,no,2.0,0.0,Frequently,Walking,Overweight_Level_I
4,Male,22.0,1.78,89.8,no,no,2.0,1.0,Sometimes,no,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II
5,Male,29.0,1.62,53.0,no,yes,2.0,3.0,Sometimes,no,2.0,no,0.0,0.0,Sometimes,Automobile,Normal_Weight
6,Female,23.0,1.50,55.0,yes,yes,3.0,3.0,Sometimes,no,2.0,no,1.0,0.0,Sometimes,Motorbike,Normal_Weight
7,Male,22.0,1.64,53.0,no,no,2.0,3.0,Sometimes,no,2.0,no,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight
8,Male,24.0,1.78,64.0,yes,yes,3.0,3.0,Sometimes,no,2.0,no,1.0,1.0,Frequently,Public_Transportation,Normal_Weight
9,Male,22.0,1.72,68.0,yes,yes,2.0,3.0,Sometimes,no,2.0,no,1.0,1.0,no,Public_Transportation,Normal_Weight

In [4]:
# rename columns
obesity_ml = obesity_ml.rename(columns={"FAVC": "high_caloric_food",
                           "FCVC": "vegetables",
                          "NCP": "main_meals",
                          "CAEC":"food_between_meals",
                          "CALC":"alcohol",
                          "SCC":"monitor_calories",
                          "FAF":"physical_activity",
                          "TUE": "technology_use",
                          "MTRANS":"transportation",
                            "CH2O":"water",
                        "NObeyesdad":"obesity"})
obesity_ml.head()

,Gender,Age,Height,Weight,family_history_with_overweight,high_caloric_food,vegetables,main_meals,food_between_meals,SMOKE,water,monitor_calories,physical_activity,technology_use,alcohol,transportation,obesity
0,Female,21.0,1.62,64.0,yes,no,2.0,3.0,Sometimes,no,2.0,no,0.0,1.0,no,Public_Transportation,Normal_Weight
1,Female,21.0,1.52,56.0,yes,no,3.0,3.0,Sometimes,yes,3.0,yes,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight
2,Male,23.0,1.80,77.0,yes,no,2.0,3.0,Sometimes,no,2.0,no,2.0,1.0,Frequently,Public_Transportation,Normal_Weight
3,Male,27.0,1.80,87.0,no,no,3.0,3.0,Sometimes,no,2.0,no,2.0,0.0,Frequently,Walking,Overweight_Level_I
4,Male,22.0,1.78,89.8,no,no,2.0,1.0,Sometimes,no,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II

In [5]:
numeric = ['Age', 'Height','Weight','vegetables','main_meals', 'water','physical_activity','technology_use']
obesity_num = obesity_ml.loc[:, numeric] 
obesity_num.head()

,Age,Height,Weight,vegetables,main_meals,water,physical_activity,technology_use
0,21.0,1.62,64.0,2.0,3.0,2.0,0.0,1.0
1,21.0,1.52,56.0,3.0,3.0,3.0,3.0,0.0
2,23.0,1.80,77.0,2.0,3.0,2.0,2.0,1.0
3,27.0,1.80,87.0,3.0,3.0,2.0,2.0,0.0
4,22.0,1.78,89.8,2.0,1.0,2.0,0.0,0.0

In [6]:
categorical = ['Gender', 'family_history_with_overweight','high_caloric_food', 'food_between_meals', 'SMOKE', 'monitor_calories','alcohol','transportation','obesity']
obesity_cat_w_output = obesity_ml.loc[:, categorical] 
obesity_cat_wo_output = obesity_cat_w_output.drop(["obesity"], axis=1)
obesity_cat = pd.get_dummies(data=obesity_cat_wo_output, drop_first=True)
obesity_cat.head()

,Gender_Male,family_history_with_overweight_yes,high_caloric_food_yes,food_between_meals_Frequently,food_between_meals_Sometimes,food_between_meals_no,SMOKE_yes,monitor_calories_yes,alcohol_Frequently,alcohol_Sometimes,alcohol_no,transportation_Bike,transportation_Motorbike,transportation_Public_Transportation,transportation_Walking
0,0,1,0,0,1,0,0,0,0,0,1,0,0,1,0
1,0,1,0,0,1,0,1,1,0,1,0,0,0,1,0
2,1,1,0,0,1,0,0,0,1,0,0,0,0,1,0
3,1,0,0,0,1,0,0,0,1,0,0,0,0,0,1
4,1,0,0,0,1,0,0,0,0,1,0,0,0,1,0

In [7]:
# merge numeric and catorical dfs
obesity3 = pd.concat([obesity_num, obesity_cat], axis=1, join='outer')
obesity3.head()

,Age,Height,Weight,vegetables,main_meals,water,physical_activity,technology_use,Gender_Male,family_history_with_overweight_yes,...,food_between_meals_no,SMOKE_yes,monitor_calories_yes,alcohol_Frequently,alcohol_Sometimes,alcohol_no,transportation_Bike,transportation_Motorbike,transportation_Public_Transportation,transportation_Walking
0,21.0,1.62,64.0,2.0,3.0,2.0,0.0,1.0,0,1,...,0,0,0,0,0,1,0,0,1,0
1,21.0,1.52,56.0,3.0,3.0,3.0,3.0,0.0,0,1,...,0,1,1,0,1,0,0,0,1,0
2,23.0,1.80,77.0,2.0,3.0,2.0,2.0,1.0,1,1,...,0,0,0,1,0,0,0,0,1,0
3,27.0,1.80,87.0,3.0,3.0,2.0,2.0,0.0,1,0,...,0,0,0,1,0,0,0,0,0,1
4,22.0,1.78,89.8,2.0,1.0,2.0,0.0,0.0,1,0,...,0,0,0,0,1,0,0,0,1,0

In [8]:
obesity3.describe()

,Age,Height,Weight,vegetables,main_meals,water,physical_activity,technology_use,Gender_Male,family_history_with_overweight_yes,...,food_between_meals_no,SMOKE_yes,monitor_calories_yes,alcohol_Frequently,alcohol_Sometimes,alcohol_no,transportation_Bike,transportation_Motorbike,transportation_Public_Transportation,transportation_Walking
count,2111.000000,2111.000000,2111.000000,2111.000000,2111.000000,2111.000000,2111.000000,2111.000000,2111.000000,2111.000000,...,2111.000000,2111.000000,2111.000000,2111.000000,2111.000000,2111.000000,2111.000000,2111.000000,2111.000000,2111.000000
mean,24.312600,1.701677,86.586058,2.419043,2.685628,2.008011,1.010298,0.657866,0.505921,0.817622,...,0.024159,0.020843,0.045476,0.033160,0.663667,0.302700,0.003316,0.005211,0.748460,0.026528
std,6.345968,0.093305,26.191172,0.533927,0.778039,0.612953,0.850592,0.608927,0.500083,0.386247,...,0.153580,0.142893,0.208395,0.179096,0.472566,0.459535,0.057502,0.072015,0.434001,0.160737
min,14.000000,1.450000,39.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,19.947192,1.630000,65.473343,2.000000,2.658738,1.584812,0.124505,0.000000,0.000000,1.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,22.777890,1.700499,83.000000,2.385502,3.000000,2.000000,1.000000,0.625350,1.000000,1.000000,...,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000,0.000000
75%,26.000000,1.768464,107.430682,3.000000,3.000000,2.477420,1.666678,1.000000,1.000000,1.000000,...,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,0.000000,0.000000,1.000000,0.000000
max,61.000000,1.980000,173.000000,3.000000,4.000000,3.000000,3.000000,2.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [9]:
# Labels are the values we want to predict
labels = obesity_cat_w_output['obesity']
features = obesity3
labels.value_counts()

Obesity_Type_I         351
Obesity_Type_III       324
Obesity_Type_II        297
Overweight_Level_II    290
Overweight_Level_I     290
Normal_Weight          287
Insufficient_Weight    272
Name: obesity, dtype: int64

In [10]:
from sklearn.preprocessing import LabelEncoder

# Step 1: Label-encode data set
label_encoder = LabelEncoder()
label_encoder.fit(labels)
encoded_labels = label_encoder.transform(labels)

In [11]:
# Split the data into training and testing sets
from sklearn.model_selection import train_test_split
train_features, test_features, train_labels, test_labels = train_test_split(features, encoded_labels, test_size = 0.2, random_state = 42)

print('Training Features Shape:', train_features.shape)
print('Training Labels Shape:', train_labels.shape)
print('Testing Features Shape:', test_features.shape)
print('Testing Labels Shape:', test_labels.shape)

Training Features Shape: (1688, 23)
Training Labels Shape: (1688,)
Testing Features Shape: (423, 23)
Testing Labels Shape: (423,)

In [12]:
# Import the model we are using
from sklearn.ensemble import RandomForestRegressor

# Instantiate model with 1000 decision trees
rf = RandomForestRegressor(n_estimators = 1000, random_state = 42)

# Train the model on training data
rf.fit(train_features, train_labels)
rf.score(train_features, train_labels)

0.9900774406027891

In [13]:
features_list = list(obesity3)

# Import tools needed for visualization
from sklearn.tree import export_graphviz
import pydot
# Pull out one tree from the forest
tree = rf.estimators_[5]
# Export the image to a dot file
export_graphviz(tree, out_file = 'tree.dot', feature_names = features_list, rounded = True, precision = 1)
# Use dot file to create a graph
(graph, ) = pydot.graph_from_dot_file('tree.dot')
# Write graph to a png file
graph.write_png('tree.png')

In [14]:
import pickle

# save the model to disk
filename = 'obesity_random_forest.sav'
pickle.dump(rf, open(filename, 'wb'))

0.9197824363423404

In [15]:
# save the decoder
# label encoder like model object
filename2 = 'obesity_decoder.sav'
pickle.dump(label_encoder, open(filename2, 'wb'))

In [16]:
list(obesity3)

['Age',
 'Height',
 'Weight',
 'vegetables',
 'main_meals',
 'water',
 'physical_activity',
 'technology_use',
 'Gender_Male',
 'family_history_with_overweight_yes',
 'high_caloric_food_yes',
 'food_between_meals_Frequently',
 'food_between_meals_Sometimes',
 'food_between_meals_no',
 'SMOKE_yes',
 'monitor_calories_yes',
 'alcohol_Frequently',
 'alcohol_Sometimes',
 'alcohol_no',
 'transportation_Bike',
 'transportation_Motorbike',
 'transportation_Public_Transportation',
 'transportation_Walking']

In [17]:
# Test case
Age = 29
Height = 1.52 # in meters
Weight = 55 # in kg
vegetables = 3
main_meals = 3
water = 3
physical_activity = 3
technology_use = 2
Gender_Male = 0
family_history_with_overweight_yes = 0
high_caloric_food_yes = 0
food_between_meals_Frequently = 0
food_between_meals_Sometimes = 1
food_between_meals_no = 0
SMOKE_yes = 0
monitor_calories_yes = 1
alcohol_Frequently = 0
alcohol_Sometimes = 0
alcohol_no = 1
transportation_Bike = 0
transportation_Motorbike = 0
transportation_Public_Transportation = 0
transportation_Walking = 0

In [18]:
# this will be saved in .py for flask to run
 
# load the model from disk
loaded_model = pickle.load(open("obesity_random_forest.sav", 'rb'))
result = loaded_model.score(test_features, test_labels)
print(f'Model Score: {result}')

 
# load the model from disk
loaded_decoder = pickle.load(open('obesity_decoder.sav', 'rb'))


prediction = loaded_model.predict([[Age, Height, Weight, vegetables, main_meals, water, physical_activity,
                            technology_use,Gender_Male, family_history_with_overweight_yes, high_caloric_food_yes,
                            food_between_meals_Frequently, food_between_meals_Sometimes, food_between_meals_no,
                            SMOKE_yes,monitor_calories_yes,alcohol_Frequently, alcohol_Sometimes,alcohol_no, 
                            transportation_Bike,transportation_Motorbike, transportation_Public_Transportation, 
                            transportation_Walking]])
int_predict = [int(prediction[0])]

# decode label
outcome_array = loaded_decoder.inverse_transform(int_predict)
print(f'Our prediction for your health status: {outcome_array[0]}')

Model Score: 0.9197824363423404
Our prediction for your health status: Normal_Weight